.sorter-container p {
   margin-bottom: 0;
}

.sorter-container nav {
  margin-top: 0;
}

.sorter-container nav {
   color: #134520;
}

body {
    text-align: center;
}

p {
  line-height: .83; 
}

h2 {
  margin-top: 60px;
  margin-bottom: 0px;
   color: #045e1c;
}

h3 {
  margin-top: 2px;
   color: #045e1c;
}

a {
   color: #1b8035;
}

a:hover {
   color: #38b559;
}


