.sorter-container {
  display: flex;
  flex-direction: column;
  gap: 2px; /* Controls the exact vertical space between text and nav */
}

body {
    text-align: center;
  }

p {
  line-height: .83; 
}

